@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: "roboto";
  font-weight: 600;
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  display: block;
}

header {
  padding: 0 100px;
  height: 100vh;
  background: url(../../assets/img/bg_section.png) fixed center/cover;
  position: relative;
}

header .navbar {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: "";
      -ms-flex-align: "";
          align-items: "";
  -ms-grid-columns: 10% 80% 10%;
      grid-template-columns: 10% 80% 10%;
  -ms-grid-rows: 100px;
      grid-template-rows: 100px;
  position: absolute;
  min-width: 500px;
  width: 90%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: left;
  padding-top: 20px;
  z-index: 10;
}

@media screen and (max-width: 920px) {
  header .navbar {
    -ms-grid-columns: 20% 30% 40%;
        grid-template-columns: 20% 30% 40%;
    -ms-grid-rows: 75px;
        grid-template-rows: 75px;
  }
}

header .navbar img {
  height: 100%;
  margin: 0 auto;
}

header .navbar .nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0 50px;
  margin: 0 auto;
  width: 65%;
}

@media screen and (max-width: 1160px) {
  header .navbar .nav-content {
    font-size: 0.7rem;
    width: 80%;
  }
}

@media screen and (max-width: 920px) {
  header .navbar .nav-content {
    visibility: hidden;
  }
}

header .navbar .nav-content li {
  position: relative;
  font-family: "poppins";
  color: #fbd882;
  padding: 10px 0;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

header .navbar .nav-content li a {
  color: #fbd882;
  padding: 10px 0;
}

header .navbar .nav-content li a:hover {
  color: #fff;
  text-shadow: 0 1px 15px #fdf602;
  cursor: pointer;
}

header .navbar .nav-content li:hover {
  color: #fff;
  text-shadow: 0 1px 15px #fdf602;
  cursor: pointer;
}

header .navbar .nav-content li:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 0;
  background: none;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

header .navbar .nav-content li:hover:after {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #a9a9a9;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header .navbar .nav-social-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  color: #a9a9a9;
  padding: 5px;
}

header .navbar .nav-social-logos li {
  width: 20px;
  height: 20px;
  padding: 10px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  color: #fbd882;
}

header .navbar .nav-social-logos li:hover {
  color: #fdf602;
  text-shadow: 0 0 10px #fbd882;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.section1 {
  position: relative;
  height: 100vh;
  background: url(../../assets/img/bg_section.png) fixed center/cover;
  display: -ms-grid;
  display: grid;
  justify-items: "";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  text-align: center;
  padding: 0 150px 100px;
}

.section1 .corporation-container-left,
.section1 .corporation-container-right {
  position: relative;
  margin: 0 auto;
  width: 70%;
  height: 90%;
  z-index: 2;
  outline: 5px solid rgba(110, 110, 110, 0.41);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 7px;
}

.section1 .corporation-container-left .container,
.section1 .corporation-container-right .container {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.24);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.24);
}

.section1 .corporation-container-left h2,
.section1 .corporation-container-right h2 {
  padding-top: 50px;
  font-family: "poppins";
  text-transform: uppercase;
  width: 310px;
  margin: 0 auto;
  letter-spacing: 1px;
}

.section1 .corporation-container-left img,
.section1 .corporation-container-right img {
  margin: 150px 0;
  -webkit-filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.361));
          filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.361));
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

.section1 .corporation-container-left {
  background: url(../../assets/img/bg_civilian1.jpg) center/cover;
}

.section1 .corporation-container-left .civilian-container {
  height: 80%;
  background: linear-gradient(45deg, #fafafa3d 0%, #d0ad000a 30%, #d0ad000a 70%, #fafafa3d 100%);
  margin: 100px;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.section1 .corporation-container-left .civilian-container h2 {
  background: linear-gradient(15deg, #fbd882 0%, #fdf602 25%, #c8aa00 50%, #fbd882 75%, #fdf602 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-filter: drop-shadow(0 2px 1px #fbd882);
          filter: drop-shadow(0 2px 1px #fbd882);
}

.section1 .corporation-container-left .civilian-container img:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-filter: drop-shadow(0 1px 10px #fbd882);
          filter: drop-shadow(0 1px 10px #fbd882);
}

.section1 .corporation-container-right {
  background: url(../../assets/img/bg_mili-section1.png) center/cover;
}

.section1 .corporation-container-right .military-container {
  height: 80%;
  margin: 100px;
  background: linear-gradient(45deg, #fafafa3d 0%, #8787870a 30%, #8787870a 70%, #fafafa3d 100%);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.section1 .corporation-container-right .military-container h2 {
  background: linear-gradient(15deg, #c4c4c4 0%, #a9a9a9 25%, #6a6a6a 50%, #a9a9a9 75%, #c4c4c4 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-filter: drop-shadow(0 2px 1px #004992);
          filter: drop-shadow(0 2px 1px #004992);
}

.section1 .corporation-container-right .military-container img:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-filter: drop-shadow(0 1px 10px #004992);
          filter: drop-shadow(0 1px 10px #004992);
}

.section2 {
  height: 370vh;
  padding-top: 50px;
  background: #000000;
  display: -ms-grid;
  display: grid;
  justify-items: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  text-align: left;
  color: #fff;
}

.section2 h2 {
  margin-top: 50px;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 5px;
}

.section2 h2:nth-child(2) {
  margin-top: 50px;
}

.section2 h3 {
  text-transform: uppercase;
  text-align: left;
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: #fff;
  letter-spacing: 2px;
}

.section2 p {
  padding: 0 50px;
  letter-spacing: 1px;
  font-weight: 100;
  line-height: 35px;
  text-align: justify;
}

.section2 .departments {
  position: relative;
  margin: 0 auto;
  width: 80%;
}

.section2 .civilian-departments {
  background: #181818;
  border-top: 10px solid #fbd882;
  border-radius: 10px;
  padding: 50px 50px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: (14.3%)[7];
      grid-template-rows: repeat(7, 14.3%);
}

.section2 .civilian-departments .departments-containers {
  display: -ms-grid;
  display: grid;
  justify-items: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 10% 12% 18% 60%;
      grid-template-columns: 10% 12% 18% 60%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  padding: 20px 0;
  border-bottom: 1px solid #c4c4c4;
  width: 95%;
}

.section2 .civilian-departments .departments-containers:last-child {
  border-bottom: none;
}

.section2 .civilian-departments .departments-containers .img-container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.section2 .civilian-departments .departments-containers img {
  height: 190px;
  -webkit-filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.297));
          filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.297));
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .civilian-departments .departments-containers p {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .civilian-departments .departments-containers:hover h3 {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.838);
}

.section2 .civilian-departments .departments-containers:hover p {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.838);
}

.section2 .academy {
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 239, 0)), to(#7700ff));
  background: linear-gradient(90deg, rgba(39, 39, 239, 0) 0%, #7700ff 100%);
  border-right: 5px solid #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.section2 .academy .polygon-shadow {
  -webkit-filter: drop-shadow(0);
          filter: drop-shadow(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .academy .polygon-shadow .polygon {
  -webkit-clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
          clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
  background: #7700ff;
  width: 70%;
  height: 100px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .academy:hover .polygon-shadow {
  -webkit-filter: drop-shadow(0 3px 5px #7700ff);
          filter: drop-shadow(0 3px 5px #7700ff);
}

.section2 .academy:hover .polygon-shadow .polygon {
  background: #d2abff;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.section2 .academy:hover img {
  -webkit-filter: drop-shadow(0 3px 5px #d2abff);
          filter: drop-shadow(0 3px 5px #d2abff);
}

.section2 .exploration {
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 239, 0)), to(#006eff));
  background: linear-gradient(90deg, rgba(39, 39, 239, 0) 0%, #006eff 100%);
  border-right: 5px solid #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.section2 .exploration .polygon-shadow {
  -webkit-filter: drop-shadow(0);
          filter: drop-shadow(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .exploration .polygon-shadow .polygon {
  -webkit-clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
          clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
  background: #006eff;
  width: 70%;
  height: 100px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .exploration:hover .polygon-shadow {
  -webkit-filter: drop-shadow(0 3px 5px #006eff);
          filter: drop-shadow(0 3px 5px #006eff);
}

.section2 .exploration:hover .polygon-shadow .polygon {
  background: #8ebfff;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.section2 .exploration:hover img {
  -webkit-filter: drop-shadow(0 3px 5px #8ebfff);
          filter: drop-shadow(0 3px 5px #8ebfff);
}

.section2 .diplomacy {
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 239, 0)), to(#00e1ff));
  background: linear-gradient(90deg, rgba(39, 39, 239, 0) 0%, #00e1ff 100%);
  border-right: 5px solid #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.section2 .diplomacy .polygon-shadow {
  -webkit-filter: drop-shadow(0);
          filter: drop-shadow(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .diplomacy .polygon-shadow .polygon {
  -webkit-clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
          clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
  background: #00e1ff;
  width: 70%;
  height: 100px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .diplomacy:hover .polygon-shadow {
  -webkit-filter: drop-shadow(0 3px 5px #00e1ff);
          filter: drop-shadow(0 3px 5px #00e1ff);
}

.section2 .diplomacy:hover .polygon-shadow .polygon {
  background: #85f1ff;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.section2 .diplomacy:hover img {
  -webkit-filter: drop-shadow(0 3px 5px #85f1ff);
          filter: drop-shadow(0 3px 5px #85f1ff);
}

.section2 .industry {
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 239, 0)), to(#ff9500));
  background: linear-gradient(90deg, rgba(39, 39, 239, 0) 0%, #ff9500 100%);
  border-right: 5px solid #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.section2 .industry .polygon-shadow {
  -webkit-filter: drop-shadow(0);
          filter: drop-shadow(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .industry .polygon-shadow .polygon {
  -webkit-clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
          clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
  background: #ff9500;
  width: 70%;
  height: 100px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .industry:hover .polygon-shadow {
  -webkit-filter: drop-shadow(0 3px 5px #ff9500);
          filter: drop-shadow(0 3px 5px #ff9500);
}

.section2 .industry:hover .polygon-shadow .polygon {
  background: #ffdeaf;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.section2 .industry:hover img {
  -webkit-filter: drop-shadow(0 3px 5px #ffdeaf);
          filter: drop-shadow(0 3px 5px #ffdeaf);
}

.section2 .sciences {
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 239, 0)), to(#b90000));
  background: linear-gradient(90deg, rgba(39, 39, 239, 0) 0%, #b90000 100%);
  border-right: 5px solid #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.section2 .sciences .polygon-shadow {
  -webkit-filter: drop-shadow(0);
          filter: drop-shadow(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .sciences .polygon-shadow .polygon {
  -webkit-clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
          clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
  background: #b90000;
  width: 70%;
  height: 100px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .sciences:hover .polygon-shadow {
  -webkit-filter: drop-shadow(0 3px 5px #fcfcfc);
          filter: drop-shadow(0 3px 5px #fcfcfc);
}

.section2 .sciences:hover .polygon-shadow .polygon {
  background: #fcfcfc;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.section2 .sciences:hover img {
  -webkit-filter: drop-shadow(0 3px 5px #fcfcfc);
          filter: drop-shadow(0 3px 5px #fcfcfc);
}

.section2 .senate {
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 239, 0)), to(#0a4b70));
  background: linear-gradient(90deg, rgba(39, 39, 239, 0) 0%, #0a4b70 100%);
  border-right: 5px solid #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.section2 .senate .polygon-shadow {
  -webkit-filter: drop-shadow(0);
          filter: drop-shadow(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .senate .polygon-shadow .polygon {
  -webkit-clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
          clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
  background: #0a4b70;
  width: 70%;
  height: 100px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .senate:hover .polygon-shadow {
  -webkit-filter: drop-shadow(0 3px 5px #98d9ff);
          filter: drop-shadow(0 3px 5px #98d9ff);
}

.section2 .senate:hover .polygon-shadow .polygon {
  background: #98d9ff;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.section2 .senate:hover img {
  -webkit-filter: drop-shadow(0 3px 5px #98d9ff);
          filter: drop-shadow(0 3px 5px #98d9ff);
}

.section2 .trading {
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 239, 0)), to(#007f15));
  background: linear-gradient(90deg, rgba(39, 39, 239, 0) 0%, #007f15 100%);
  border-right: 5px solid #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.section2 .trading .polygon-shadow {
  -webkit-filter: drop-shadow(0);
          filter: drop-shadow(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .trading .polygon-shadow .polygon {
  -webkit-clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
          clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
  background: #007f15;
  width: 70%;
  height: 100px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .trading:hover .polygon-shadow {
  -webkit-filter: drop-shadow(0 3px 5px #007f15);
          filter: drop-shadow(0 3px 5px #007f15);
}

.section2 .trading:hover .polygon-shadow .polygon {
  background: #9fffaf;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.section2 .trading:hover img {
  -webkit-filter: drop-shadow(0 3px 5px #9fffaf);
          filter: drop-shadow(0 3px 5px #9fffaf);
}

.section2 .military-departments {
  background: #181818;
  border-top: 10px solid #004992;
  border-radius: 10px;
  padding: 0 20px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  justify-items: "";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 200px;
      grid-template-columns: 200px;
  -ms-grid-rows: (14.3%)[7];
      grid-template-rows: repeat(7, 14.3%);
}

.section2 .military-departments .departments-containers {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10.5px;
}

.section2 .military-departments .departments-containers h3 {
  padding: 20px 0 30px;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: #fff;
}

.section2 .military-departments .departments-containers img {
  padding-bottom: 20px;
  width: 90%;
  -webkit-filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.297));
          filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.297));
}
/*# sourceMappingURL=index.css.map */