@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: "roboto";
  font-weight: 600;
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  resize: none;
}

body {
  display: block;
}

header {
  padding: 0 100px;
  height: 100vh;
  background: url(../../assets/img/bg_section.png) fixed center/cover;
  position: relative;
}

@media screen and (max-width: 550px) {
  header {
    padding: 10px;
  }
}

header .navbar {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: "";
      -ms-flex-align: "";
          align-items: "";
  -ms-grid-columns: 10% 80% 10%;
      grid-template-columns: 10% 80% 10%;
  -ms-grid-rows: 100px;
      grid-template-rows: 100px;
  position: absolute;
  min-width: 500px;
  width: 90%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: left;
  padding-top: 20px;
  z-index: 10;
}

@media screen and (max-width: 920px) {
  header .navbar {
    -ms-grid-columns: 20% 30% 40%;
        grid-template-columns: 20% 30% 40%;
    -ms-grid-rows: 75px;
        grid-template-rows: 75px;
  }
}

@media screen and (max-width: 550px) {
  header .navbar {
    -ms-grid-columns: 21% 30% 49%;
        grid-template-columns: 21% 30% 49%;
    -ms-grid-rows: 90px;
        grid-template-rows: 90px;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 200px;
    width: 80%;
    margin: 0 auto;
  }
}

header .navbar img {
  height: 100%;
  margin: 0 auto;
}

header .navbar .nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0 50px;
  margin: 0 auto;
  width: 65%;
  max-width: 1400px;
}

@media screen and (max-width: 1160px) {
  header .navbar .nav-content {
    font-size: 0.7rem;
    width: 80%;
  }
}

@media screen and (max-width: 920px) {
  header .navbar .nav-content {
    visibility: hidden;
  }
}

header .navbar .nav-content li {
  position: relative;
  font-family: "poppins";
  color: #fbd882;
  padding: 10px 0;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

header .navbar .nav-content li a {
  color: #fbd882;
  padding: 10px 0;
}

header .navbar .nav-content li a:hover {
  color: #fff;
  text-shadow: 0 1px 15px #fdf602;
  cursor: pointer;
}

header .navbar .nav-content li:hover {
  color: #fff;
  text-shadow: 0 1px 15px #fdf602;
  cursor: pointer;
}

header .navbar .nav-content li:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 0;
  background: none;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

header .navbar .nav-content li:hover:after {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #a9a9a9;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header .navbar .nav-social-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  color: #a9a9a9;
  padding: 5px;
}

@media screen and (max-width: 550px) {
  header .navbar .nav-social-logos {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: "";
            flex-direction: "";
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.5rem;
  }
}

header .navbar .nav-social-logos li {
  width: 20px;
  height: 20px;
  padding: 10px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  color: #fbd882;
}

header .navbar .nav-social-logos li:hover {
  color: #fdf602;
  text-shadow: 0 0 10px #fbd882;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.section1 {
  position: relative;
  height: 100vh;
  background: url(../../assets/img/bg_section.png) fixed center/cover;
  display: -ms-grid;
  display: grid;
  justify-items: "";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  text-align: center;
  padding: 0 150px 150px;
}

@media screen and (max-width: 550px) {
  .section1 {
    height: 1500px;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%;
    padding: 0 20px 200px;
  }
}

.section1 .corporation-container-left,
.section1 .corporation-container-right {
  position: relative;
  margin: 0 auto;
  width: 90%;
  max-width: 1500px;
  min-width: 370px;
  height: 60%;
  z-index: 2;
  outline: 5px solid rgba(110, 110, 110, 0.41);
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 550px) {
  .section1 .corporation-container-left,
  .section1 .corporation-container-right {
    height: 650px;
    width: 75%;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%;
    padding: 20px;
  }
}

.section1 .corporation-container-left .container,
.section1 .corporation-container-right .container {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.24);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.24);
  height: 70%;
  width: 90%;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

@media screen and (max-width: 550px) {
  .section1 .corporation-container-left .container,
  .section1 .corporation-container-right .container {
    margin: 20px;
    height: 90%;
  }
}

.section1 .corporation-container-left h2,
.section1 .corporation-container-right h2 {
  padding-top: 50px;
  font-family: "poppins";
  text-transform: uppercase;
  width: 310px;
  margin: 0 auto 50px;
  letter-spacing: 1px;
}

@media screen and (max-width: 550px) {
  .section1 .corporation-container-left h2,
  .section1 .corporation-container-right h2 {
    width: 300px;
    margin: 0 auto;
    font-size: 1.4rem;
  }
}

.section1 .corporation-container-left img,
.section1 .corporation-container-right img {
  -webkit-filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.361));
          filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.361));
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  width: 75%;
  max-width: 350px;
}

@media screen and (max-width: 550px) {
  .section1 .corporation-container-left img,
  .section1 .corporation-container-right img {
    margin: 100px 0;
  }
}

.section1 .corporation-container-left {
  background: url(../../assets/img/bg_civilian1.jpg) center/cover;
}

@media screen and (max-width: 550px) {
  .section1 .corporation-container-left {
    background: url(../../assets/img/bg_civilian1.jpg) center/cover fixed;
  }
}

.section1 .corporation-container-left .civilian-container {
  background: linear-gradient(45deg, #fafafa3d 0%, #d0ad000a 30%, #d0ad000a 70%, #fafafa3d 100%);
}

.section1 .corporation-container-left .civilian-container h2 {
  background: linear-gradient(15deg, #fbd882 0%, #fdf602 25%, #c8aa00 50%, #fbd882 75%, #fdf602 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-filter: drop-shadow(0 2px 1px #fbd882);
          filter: drop-shadow(0 2px 1px #fbd882);
}

.section1 .corporation-container-left .civilian-container img:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-filter: drop-shadow(0 1px 10px #fbd882);
          filter: drop-shadow(0 1px 10px #fbd882);
}

.section1 .corporation-container-right {
  background: url(../../assets/img/bg_mili-section1.png) center/cover;
}

@media screen and (max-width: 550px) {
  .section1 .corporation-container-right {
    background: url(../../assets/img/bg_mili-section1.png) center/cover fixed;
  }
}

.section1 .corporation-container-right .military-container {
  background: linear-gradient(45deg, #fafafa3d 0%, #8787870a 30%, #8787870a 70%, #fafafa3d 100%);
}

.section1 .corporation-container-right .military-container h2 {
  background: linear-gradient(15deg, #c4c4c4 0%, #a9a9a9 25%, #6a6a6a 50%, #a9a9a9 75%, #c4c4c4 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-filter: drop-shadow(0 2px 1px #fff);
          filter: drop-shadow(0 2px 1px #fff);
}

.section1 .corporation-container-right .military-container img:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-filter: drop-shadow(0 1px 10px #fff);
          filter: drop-shadow(0 1px 10px #fff);
}

.section1 .button-container {
  position: absolute;
  bottom: 5%;
  left: 50%;
  height: 80px;
  width: 80px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fbd882;
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #fbd882;
  border-radius: 50px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

.section1 .button-container .button {
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
}

.section1 .button-container a {
  height: 80px;
  width: 80px;
  color: #fbd882;
}

.section1 .button-container:hover {
  background: #fbd882;
  color: #181818;
  border: 3px solid #ececec;
  -webkit-box-shadow: 0 0 10px #fbd882;
          box-shadow: 0 0 10px #fbd882;
}

.section1 .button-container:hover a {
  color: #fff;
}

.section2 {
  position: relative;
  padding-top: 50px;
  padding-bottom: 200px;
  background: #000000;
  display: -ms-grid;
  display: grid;
  justify-items: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  text-align: left;
  color: #fff;
}

@media screen and (max-width: 550px) {
  .section2 {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 530px;
        grid-template-columns: 530px;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .section2 .polygon-shadow {
    display: none;
  }
}

.section2 h2 {
  margin-top: 50px;
  padding-bottom: 30px;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 5px;
}

@media screen and (max-width: 550px) {
  .section2 h2 {
    text-align: center;
  }
}

.section2 h2:nth-child(2) {
  margin-top: 50px;
}

.section2 h3 {
  text-transform: uppercase;
  text-align: left;
  font-size: 1rem;
  color: #fff;
  letter-spacing: 2px;
}

@media screen and (max-width: 550px) {
  .section2 h3 {
    text-align: center;
    font-size: 2rem;
  }
}

.section2 p {
  padding: 0 50px;
  letter-spacing: 1px;
  font-weight: 100;
  line-height: 35px;
  text-align: justify;
}

.section2 .departments {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.section2 .civilian-departments {
  height: 180vh;
  background: #181818;
  border-top: 10px solid #fbd882;
  border-radius: 10px;
  padding: 50px 50px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: (14.3%)[7];
      grid-template-rows: repeat(7, 14.3%);
}

@media screen and (max-width: 550px) {
  .section2 .civilian-departments {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
  }
}

.section2 .civilian-departments .departments-containers {
  display: -ms-grid;
  display: grid;
  justify-items: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 10% 15% 18% 57%;
      grid-template-columns: 10% 15% 18% 57%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  padding: 20px 0;
  border-bottom: 1px solid #c4c4c4;
  width: 95%;
}

@media screen and (max-width: 550px) {
  .section2 .civilian-departments .departments-containers {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 15% 1fr 1fr;
        grid-template-rows: 15% 1fr 1fr;
    margin: 0 auto;
    height: 700px;
  }
}

.section2 .civilian-departments .departments-containers .img-container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.section2 .civilian-departments .departments-containers img {
  height: 190px;
  -webkit-filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.297));
          filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.297));
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media screen and (max-width: 550px) {
  .section2 .civilian-departments .departments-containers img {
    margin: 0 auto;
    margin: 20px 0;
  }
}

.section2 .civilian-departments .departments-containers p {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media screen and (max-width: 550px) {
  .section2 .civilian-departments .departments-containers p {
    width: 90%;
    padding: 20px 0;
  }
}

.section2 .civilian-departments .departments-containers:hover h3 {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.838);
}

.section2 .civilian-departments .departments-containers:hover p {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.838);
}

.section2 .academy {
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 239, 0)), to(#7700ff));
  background: linear-gradient(90deg, rgba(39, 39, 239, 0) 0%, #7700ff 100%);
  border-right: 5px solid #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (max-width: 550px) {
  .section2 .academy {
    border-left: 5px solid #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.section2 .academy .polygon-shadow {
  -webkit-filter: drop-shadow(0);
          filter: drop-shadow(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .academy .polygon-shadow .polygon {
  -webkit-clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
          clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
  background: #7700ff;
  width: 70%;
  height: 100px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .academy:hover .polygon-shadow {
  -webkit-filter: drop-shadow(0 3px 5px #a658ff);
          filter: drop-shadow(0 3px 5px #a658ff);
}

.section2 .academy:hover .polygon-shadow .polygon {
  background: #d2abff;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.section2 .academy:hover img {
  -webkit-filter: drop-shadow(0 3px 5px #a658ff);
          filter: drop-shadow(0 3px 5px #a658ff);
}

.section2 .exploration {
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 239, 0)), to(#006eff));
  background: linear-gradient(90deg, rgba(39, 39, 239, 0) 0%, #006eff 100%);
  border-right: 5px solid #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (max-width: 550px) {
  .section2 .exploration {
    border-left: 5px solid #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.section2 .exploration .polygon-shadow {
  -webkit-filter: drop-shadow(0);
          filter: drop-shadow(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .exploration .polygon-shadow .polygon {
  -webkit-clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
          clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
  background: #006eff;
  width: 70%;
  height: 100px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .exploration:hover .polygon-shadow {
  -webkit-filter: drop-shadow(0 3px 5px #2081ff);
          filter: drop-shadow(0 3px 5px #2081ff);
}

.section2 .exploration:hover .polygon-shadow .polygon {
  background: #a5ccff;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.section2 .exploration:hover img {
  -webkit-filter: drop-shadow(0 3px 5px #2081ff);
          filter: drop-shadow(0 3px 5px #2081ff);
}

.section2 .diplomacy {
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 239, 0)), to(#00e1ff));
  background: linear-gradient(90deg, rgba(39, 39, 239, 0) 0%, #00e1ff 100%);
  border-right: 5px solid #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (max-width: 550px) {
  .section2 .diplomacy {
    border-left: 5px solid #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.section2 .diplomacy .polygon-shadow {
  -webkit-filter: drop-shadow(0);
          filter: drop-shadow(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .diplomacy .polygon-shadow .polygon {
  -webkit-clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
          clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
  background: #00e1ff;
  width: 70%;
  height: 100px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .diplomacy:hover .polygon-shadow {
  -webkit-filter: drop-shadow(0 3px 5px #39e8ff);
          filter: drop-shadow(0 3px 5px #39e8ff);
}

.section2 .diplomacy:hover .polygon-shadow .polygon {
  background: #98f3ff;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.section2 .diplomacy:hover img {
  -webkit-filter: drop-shadow(0 3px 5px #39e8ff);
          filter: drop-shadow(0 3px 5px #39e8ff);
}

.section2 .trading {
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 239, 0)), to(#007f15));
  background: linear-gradient(90deg, rgba(39, 39, 239, 0) 0%, #007f15 100%);
  border-right: 5px solid #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (max-width: 550px) {
  .section2 .trading {
    border-left: 5px solid #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.section2 .trading .polygon-shadow {
  -webkit-filter: drop-shadow(0);
          filter: drop-shadow(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .trading .polygon-shadow .polygon {
  -webkit-clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
          clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
  background: #007f15;
  width: 70%;
  height: 100px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .trading:hover .polygon-shadow {
  -webkit-filter: drop-shadow(0 3px 5px #09d42b);
          filter: drop-shadow(0 3px 5px #09d42b);
}

.section2 .trading:hover .polygon-shadow .polygon {
  background: #9fffaf;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.section2 .trading:hover img {
  -webkit-filter: drop-shadow(0 3px 5px #09d42b);
          filter: drop-shadow(0 3px 5px #09d42b);
}

.section2 .culture {
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 239, 0)), to(#ffe400));
  background: linear-gradient(90deg, rgba(39, 39, 239, 0) 0%, #ffe400 100%);
  border-right: 5px solid #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (max-width: 550px) {
  .section2 .culture {
    border-left: 5px solid #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.section2 .culture .polygon-shadow {
  -webkit-filter: drop-shadow(0);
          filter: drop-shadow(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .culture .polygon-shadow .polygon {
  -webkit-clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
          clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
  background: #ffe400;
  width: 70%;
  height: 100px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .culture:hover .polygon-shadow {
  -webkit-filter: drop-shadow(0 3px 5px #ffe400);
          filter: drop-shadow(0 3px 5px #ffe400);
}

.section2 .culture:hover .polygon-shadow .polygon {
  background: #fff38a;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.section2 .culture:hover img {
  -webkit-filter: drop-shadow(0 3px 5px #ffe400);
          filter: drop-shadow(0 3px 5px #ffe400);
}

.section2 .industry {
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 239, 0)), to(#ee7300));
  background: linear-gradient(90deg, rgba(39, 39, 239, 0) 0%, #ee7300 100%);
  border-right: 5px solid #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (max-width: 550px) {
  .section2 .industry {
    border-left: 5px solid #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.section2 .industry .polygon-shadow {
  -webkit-filter: drop-shadow(0);
          filter: drop-shadow(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .industry .polygon-shadow .polygon {
  -webkit-clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
          clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
  background: #ee7300;
  width: 70%;
  height: 100px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .industry:hover .polygon-shadow {
  -webkit-filter: drop-shadow(0 3px 5px #ff7b00);
          filter: drop-shadow(0 3px 5px #ff7b00);
}

.section2 .industry:hover .polygon-shadow .polygon {
  background: #ffdeaf;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.section2 .industry:hover img {
  -webkit-filter: drop-shadow(0 3px 5px #ff7b00);
          filter: drop-shadow(0 3px 5px #ff7b00);
}

.section2 .sciences {
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 239, 0)), to(#b90000));
  background: linear-gradient(90deg, rgba(39, 39, 239, 0) 0%, #b90000 100%);
  border-right: 5px solid #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (max-width: 550px) {
  .section2 .sciences {
    border-left: 5px solid #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.section2 .sciences .polygon-shadow {
  -webkit-filter: drop-shadow(0);
          filter: drop-shadow(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .sciences .polygon-shadow .polygon {
  -webkit-clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
          clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
  background: #b90000;
  width: 70%;
  height: 100px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .sciences:hover .polygon-shadow {
  -webkit-filter: drop-shadow(0 3px 5px #ff3434);
          filter: drop-shadow(0 3px 5px #ff3434);
}

.section2 .sciences:hover .polygon-shadow .polygon {
  background: #fcfcfc;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.section2 .sciences:hover img {
  -webkit-filter: drop-shadow(0 3px 5px #ff3434);
          filter: drop-shadow(0 3px 5px #ff3434);
}

.section2 .military-departments {
  height: 180vh;
  background: #181818;
  border-top: 10px solid #004992;
  border-radius: 10px;
  padding: 50px 50px;
  margin-bottom: 150px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: (14.3%)[7];
      grid-template-rows: repeat(7, 14.3%);
}

@media screen and (max-width: 550px) {
  .section2 .military-departments {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
  }
}

.section2 .military-departments .departments-containers {
  display: -ms-grid;
  display: grid;
  justify-items: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 10% 15% 18% 57%;
      grid-template-columns: 10% 15% 18% 57%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  padding: 20px 0;
  border-bottom: 1px solid #c4c4c4;
  width: 95%;
}

@media screen and (max-width: 550px) {
  .section2 .military-departments .departments-containers {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 15% 1fr 1fr;
        grid-template-rows: 15% 1fr 1fr;
    margin: 0 auto;
    padding: 20px 0;
    height: 700px;
  }
}

.section2 .military-departments .departments-containers .img-container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.section2 .military-departments .departments-containers img {
  height: 190px;
  -webkit-filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.297));
          filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.297));
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media screen and (max-width: 550px) {
  .section2 .military-departments .departments-containers img {
    margin: 0 auto;
    margin: 20px 0;
  }
}

.section2 .military-departments .departments-containers p {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media screen and (max-width: 550px) {
  .section2 .military-departments .departments-containers p {
    width: 90%;
    padding: 20px 0;
  }
}

.section2 .military-departments .departments-containers:hover h3 {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.838);
}

.section2 .military-departments .departments-containers:hover p {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.838);
}

.section2 .military-departments .aerospatial {
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 239, 0)), to(#000679));
  background: linear-gradient(90deg, rgba(39, 39, 239, 0) 0%, #000679 100%);
  border-right: 5px solid #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (max-width: 550px) {
  .section2 .military-departments .aerospatial {
    border-left: 5px solid #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.section2 .military-departments .aerospatial .polygon-shadow {
  -webkit-filter: drop-shadow(0);
          filter: drop-shadow(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .military-departments .aerospatial .polygon-shadow .polygon {
  -webkit-clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
          clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
  background: #000679;
  width: 70%;
  height: 100px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .military-departments .aerospatial:hover .polygon-shadow {
  -webkit-filter: drop-shadow(0 3px 5px #6267f5);
          filter: drop-shadow(0 3px 5px #6267f5);
}

.section2 .military-departments .aerospatial:hover .polygon-shadow .polygon {
  background: #bbbdfc;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.section2 .military-departments .aerospatial:hover img {
  -webkit-filter: drop-shadow(0 3px 5px #6267f5);
          filter: drop-shadow(0 3px 5px #6267f5);
}

.section2 .military-departments .instruction {
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 239, 0)), to(#48316d));
  background: linear-gradient(90deg, rgba(39, 39, 239, 0) 0%, #48316d 100%);
  border-right: 5px solid #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (max-width: 550px) {
  .section2 .military-departments .instruction {
    border-left: 5px solid #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.section2 .military-departments .instruction .polygon-shadow {
  -webkit-filter: drop-shadow(0);
          filter: drop-shadow(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .military-departments .instruction .polygon-shadow .polygon {
  -webkit-clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
          clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
  background: #48316d;
  width: 70%;
  height: 100px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .military-departments .instruction:hover .polygon-shadow {
  -webkit-filter: drop-shadow(0 3px 5px #a871ff);
          filter: drop-shadow(0 3px 5px #a871ff);
}

.section2 .military-departments .instruction:hover .polygon-shadow .polygon {
  background: #c5a1ff;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.section2 .military-departments .instruction:hover img {
  -webkit-filter: drop-shadow(0 3px 5px #a871ff);
          filter: drop-shadow(0 3px 5px #a871ff);
}

.section2 .military-departments .infantry {
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 239, 0)), to(#026400));
  background: linear-gradient(90deg, rgba(39, 39, 239, 0) 0%, #026400 100%);
  border-right: 5px solid #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (max-width: 550px) {
  .section2 .military-departments .infantry {
    border-left: 5px solid #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.section2 .military-departments .infantry .polygon-shadow {
  -webkit-filter: drop-shadow(0);
          filter: drop-shadow(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .military-departments .infantry .polygon-shadow .polygon {
  -webkit-clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
          clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
  background: #026400;
  width: 70%;
  height: 100px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .military-departments .infantry:hover .polygon-shadow {
  -webkit-filter: drop-shadow(0 3px 5px #0c990a);
          filter: drop-shadow(0 3px 5px #0c990a);
}

.section2 .military-departments .infantry:hover .polygon-shadow .polygon {
  background: #aaffa9;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.section2 .military-departments .infantry:hover img {
  -webkit-filter: drop-shadow(0 3px 5px #0c990a);
          filter: drop-shadow(0 3px 5px #0c990a);
}

.section2 .military-departments .logistic {
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 239, 0)), to(#c57d00));
  background: linear-gradient(90deg, rgba(39, 39, 239, 0) 0%, #c57d00 100%);
  border-right: 5px solid #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (max-width: 550px) {
  .section2 .military-departments .logistic {
    border-left: 5px solid #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.section2 .military-departments .logistic .polygon-shadow {
  -webkit-filter: drop-shadow(0);
          filter: drop-shadow(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .military-departments .logistic .polygon-shadow .polygon {
  -webkit-clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
          clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
  background: #c57d00;
  width: 70%;
  height: 100px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .military-departments .logistic:hover .polygon-shadow {
  -webkit-filter: drop-shadow(0 3px 5px #f79c00);
          filter: drop-shadow(0 3px 5px #f79c00);
}

.section2 .military-departments .logistic:hover .polygon-shadow .polygon {
  background: #ffd285;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.section2 .military-departments .logistic:hover img {
  -webkit-filter: drop-shadow(0 3px 5px #f79c00);
          filter: drop-shadow(0 3px 5px #f79c00);
}

.section2 .military-departments .medicine {
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 239, 0)), to(#990000));
  background: linear-gradient(90deg, rgba(39, 39, 239, 0) 0%, #990000 100%);
  border-right: 5px solid #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (max-width: 550px) {
  .section2 .military-departments .medicine {
    border-left: 5px solid #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.section2 .military-departments .medicine .polygon-shadow {
  -webkit-filter: drop-shadow(0);
          filter: drop-shadow(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .military-departments .medicine .polygon-shadow .polygon {
  -webkit-clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
          clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
  background: #990000;
  width: 70%;
  height: 100px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .military-departments .medicine:hover .polygon-shadow {
  -webkit-filter: drop-shadow(0 3px 5px #f32d2d);
          filter: drop-shadow(0 3px 5px #f32d2d);
}

.section2 .military-departments .medicine:hover .polygon-shadow .polygon {
  background: #ff8989;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.section2 .military-departments .medicine:hover img {
  -webkit-filter: drop-shadow(0 3px 5px #f32d2d);
          filter: drop-shadow(0 3px 5px #f32d2d);
}

.section2 .military-departments .science_mili {
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 239, 0)), to(#0097de));
  background: linear-gradient(90deg, rgba(39, 39, 239, 0) 0%, #0097de 100%);
  border-right: 5px solid #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (max-width: 550px) {
  .section2 .military-departments .science_mili {
    border-left: 5px solid #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.section2 .military-departments .science_mili .polygon-shadow {
  -webkit-filter: drop-shadow(0);
          filter: drop-shadow(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .military-departments .science_mili .polygon-shadow .polygon {
  -webkit-clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
          clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
  background: #0097de;
  width: 70%;
  height: 100px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .military-departments .science_mili:hover .polygon-shadow {
  -webkit-filter: drop-shadow(0 3px 5px #19b6ff);
          filter: drop-shadow(0 3px 5px #19b6ff);
}

.section2 .military-departments .science_mili:hover .polygon-shadow .polygon {
  background: #90dcff;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.section2 .military-departments .science_mili:hover img {
  -webkit-filter: drop-shadow(0 3px 5px #19b6ff);
          filter: drop-shadow(0 3px 5px #19b6ff);
}

.section2 .military-departments .black-ops {
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 239, 0)), to(#1d0000));
  background: linear-gradient(90deg, rgba(39, 39, 239, 0) 0%, #1d0000 100%);
  border-right: 5px solid #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (max-width: 550px) {
  .section2 .military-departments .black-ops {
    border-left: 5px solid #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.section2 .military-departments .black-ops .polygon-shadow {
  -webkit-filter: drop-shadow(0);
          filter: drop-shadow(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .military-departments .black-ops .polygon-shadow .polygon {
  -webkit-clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
          clip-path: polygon(50% 0, 90% 50%, 50% 100%, 0 100%, 40% 50%, 0 0);
  background: #1d0000;
  width: 70%;
  height: 100px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section2 .military-departments .black-ops:hover .polygon-shadow {
  -webkit-filter: drop-shadow(0 3px 5px #900000);
          filter: drop-shadow(0 3px 5px #900000);
}

.section2 .military-departments .black-ops:hover .polygon-shadow .polygon {
  background: #404040;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.section2 .military-departments .black-ops:hover img {
  -webkit-filter: drop-shadow(0 3px 5px #900000);
          filter: drop-shadow(0 3px 5px #900000);
}

.section2 .button-container {
  position: absolute;
  bottom: 50px;
  left: 50%;
  height: 80px;
  width: 80px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fbd882;
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #fbd882;
  border-radius: 50px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

.section2 .button-container .button {
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
}

.section2 .button-container a {
  height: 80px;
  width: 80px;
  color: #fbd882;
}

.section2 .button-container:hover {
  background: #fbd882;
  color: #181818;
  border: 3px solid #ececec;
  -webkit-box-shadow: 0 0 10px #fbd882;
          box-shadow: 0 0 10px #fbd882;
}

.section2 .button-container:hover a {
  color: #fff;
}

footer {
  position: relative;
  background: url(../../assets/img/bg_footer.jpg) fixed center/cover;
  text-align: center;
  color: #fff;
  height: 100vh;
}

@media screen and (max-width: 550px) {
  footer {
    padding-bottom: 100px;
  }
}

footer h2 {
  padding: 50px 0 10px;
  width: 305px;
  margin: 0 auto;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 2px solid #a9a9a9;
}

footer .form-container {
  height: 70%;
  width: 60%;
  max-width: 1920px;
  margin: 50px auto 70px;
  padding-bottom: 50px;
  background: rgba(128, 128, 128, 0.337);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  display: -ms-grid;
  display: grid;
  justify-items: "";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 33% 34% 33%;
      grid-template-columns: 33% 34% 33%;
  -ms-grid-rows: 33% 57% 10%;
      grid-template-rows: 33% 57% 10%;
      grid-template-areas: "pse ema old" "mes mes mes" "btn btn btn";
}

@media screen and (max-width: 550px) {
  footer .form-container {
    width: 85%;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "pse" "ema" "old" "mes" "btn";
  }
}

footer .form-container div {
  height: 100%;
}

@media screen and (max-width: 550px) {
  footer .form-container div {
    height: 100%;
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 550px) and (max-width: 550px) {
  footer .form-container div:last-child {
    width: 50%;
  }
}

footer .form-container label {
  padding: 50px 0 30px;
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media screen and (max-width: 550px) {
  footer .form-container label {
    padding: 20px 0 10px;
    font-size: 1.2rem;
    letter-spacing: 2px;
  }
}

footer .form-container input {
  border: 3px solid #fff;
  border-radius: 10px;
  width: 75%;
  height: 20%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

@media screen and (max-width: 550px) {
  footer .form-container input {
    height: 50px;
    width: 100%;
  }
}

footer .form-container input[type="text"],
footer .form-container textarea {
  border: 3px solid #fff;
  border-radius: 10px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media screen and (max-width: 550px) {
  footer .form-container input[type="text"],
  footer .form-container textarea {
    margin-bottom: 20px;
  }
}

footer .form-container input[type="text"]:focus,
footer .form-container textarea:focus {
  background: #000000;
  color: #ececec;
  border: 3px solid #fff;
  -webkit-box-shadow: 0 0 10px #ececec;
          box-shadow: 0 0 10px #ececec;
}

footer .pseudo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: pse;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: "";
      -ms-flex-pack: "";
          justify-content: "";
  -webkit-box-align: "";
      -ms-flex-align: "";
          align-items: "";
}

footer .email {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: ema;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: "";
      -ms-flex-pack: "";
          justify-content: "";
  -webkit-box-align: "";
      -ms-flex-align: "";
          align-items: "";
}

footer .age {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: old;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: "";
      -ms-flex-pack: "";
          justify-content: "";
  -webkit-box-align: "";
      -ms-flex-align: "";
          align-items: "";
}

footer .message {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: mes;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: "";
      -ms-flex-pack: "";
          justify-content: "";
  -webkit-box-align: "";
      -ms-flex-align: "";
          align-items: "";
  width: 100%;
  margin: 0 auto;
  padding-bottom: 50px;
}

footer .message label {
  padding: 40px 0 30px;
  font-size: 1.5rem;
  letter-spacing: 3px;
}

@media screen and (max-width: 550px) {
  footer .message label {
    font-size: 1.2rem;
    padding: 40px 0 10px;
  }
}

footer .message textarea {
  padding: 10px;
  margin: 0 auto;
  width: 80%;
  height: 65%;
  font-size: 1.1rem;
  letter-spacing: 2px;
}

@media screen and (max-width: 550px) {
  footer .message textarea {
    width: 95%;
    margin: 0 auto;
    height: 150px;
  }
}

footer .btn {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: btn;
  height: 100%;
  width: 25%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 550px) {
  footer .btn {
    width: 10%;
  }
}

footer .btn input {
  font-family: "poppins";
  height: 70px;
  border-radius: 50px;
  text-align: center;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

@media screen and (max-width: 550px) {
  footer .btn input {
    height: 90%;
    font-size: 1.1rem;
  }
}

footer .btn input:hover {
  background: #fff;
  color: #000000;
  border: 3px solid #a9a9a9;
  -webkit-box-shadow: 0 0 10px #ececec;
          box-shadow: 0 0 10px #ececec;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

footer .btn input:focus {
  background: #000000;
  color: #fff;
  border: 3px solid #fff;
  -webkit-box-shadow: 0 0 10px #ececec;
          box-shadow: 0 0 10px #ececec;
}

footer .button-container {
  position: absolute;
  bottom: 5%;
  left: 50%;
  height: 80px;
  width: 80px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "";
          flex-direction: "";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #a9a9a9;
  border-radius: 50px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

footer .button-container .button {
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
  font-size: 1.5rem;
}

footer .button-container a {
  height: 80px;
  width: 80px;
  color: #fbd882;
}

footer .button-container:hover {
  background: #fff;
  color: #181818;
  border: 3px solid #181818;
  -webkit-box-shadow: 0 0 15px 2px #ececec;
          box-shadow: 0 0 15px 2px #ececec;
}

footer .button-container:hover a {
  color: #fff;
}
/*# sourceMappingURL=index.css.map */