header {
  padding: 0 100px;
  height: 100vh;
  background: url(../../assets/img/bg_section.png) fixed center/cover;
  position: relative;

  @media screen and (max-width: 550px) {
    background: none;
    padding: 10px;

    &:after {
      content: "";
      position: absolute;
      height: 100vw;
      width: 100vh;
      top: 160px;
      left: -160px;
      background: url(../../assets/img/bg_section.png) fixed center/cover;
      transform: rotate(90deg);
    }
  }

  .navbar {
    @include grid(center, "");
    @include rowColumn(10% 80% 10%, 100px);
    position: absolute;
    min-width: 500px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    padding-top: 20px;
    z-index: 10;

    @media screen and (max-width: 920px) {
      @include rowColumn(20% 30% 40%, 75px);
    }

    @media screen and (max-width: 550px) {
      @include rowColumn(21% 30% 49%, 90px);
      @include grid(center, center);
      min-width: 200px;
      width: 80%;
      margin: 0 auto;
    }

    img {
      height: 100%;
      margin: 0 auto;
    }

    .nav-content {
      @include flex("", space-around, center);
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 0.9rem;
      font-weight: 400;
      padding: 0 50px;
      margin: 0 auto;
      width: 65%;
      max-width: 1400px;

      @media screen and (max-width: 1160px) {
        font-size: 0.7rem;
        width: 80%;
      }

      @media screen and (max-width: 920px) {
        visibility: hidden;
      }

      li {
        position: relative;
        font-family: $font2;
        color: $yellow1;
        padding: 10px 0;
        transition: 0.1s ease;

        a {
          color: $yellow1;
          padding: 10px 0;

          &:hover {
            color: $white1;
            text-shadow: 0 1px 15px $yellow2;
            cursor: pointer;
          }
        }

        &:hover {
          color: $white1;
          text-shadow: 0 1px 15px $yellow2;
          cursor: pointer;
        }

        &:after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 0;
          height: 0;
          background: none;
          transition: 0.2s ease;
        }

        &:hover:after {
          position: absolute;
          width: 100%;
          height: 2px;
          background: $grey2;
          transform: translateX(-50%);
        }
      }
    }

    .nav-social-logos {
      @include flex("", space-around, center);
      font-size: 1.2rem;
      color: $grey2;
      padding: 5px;

      @media screen and (max-width: 550px) {
        width: 90%;
        @include flex("", space-between, center);
        font-size: 1.5rem;
      }

      li {
        width: 20px;
        height: 20px;
        padding: 10px;
        transition: 0.2s ease;
        color: $yellow1;

        &:hover {
          color: $yellow2;
          text-shadow: 0 0 10px $yellow1;
          transform: scale(1.4);
        }
      }
    }
  }
}
