.section1 {
  position: relative;
  height: 100vh;
  background: url(../../assets/img/bg_section.png) fixed center/cover;

  @include grid("", center);
  @include rowColumn(50% 50%, 100%);
  text-align: center;
  padding: 0 150px 150px;

  @media screen and (max-width: 550px) {
    height: 1500px;
    @include rowColumn(100%, 50% 50%);
    padding: 0 20px 200px;
  }

  .corporation-container-left,
  .corporation-container-right {
    position: relative;
    margin: 0 auto;
    width: 70%;
    max-width: 750px;
    min-width: 370px;
    height: 10;
    z-index: 2;
    outline: 5px solid rgba(110, 110, 110, 0.41);
    border-radius: 7px;

    @media screen and (max-width: 550px) {
      height: 550px;
      @include rowColumn(100%, 50% 50%);
      padding: 20px;
    }

    .container {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.24);
    }

    h2 {
      padding-top: 50px;
      font-family: $font2;
      text-transform: uppercase;
      width: 310px;
      margin: 0 auto;
      letter-spacing: 1px;

      @media screen and (max-width: 550px) {
        width: 300px;
        margin: 0 auto;
        font-size: 1.5rem;
      }
    }

    img {
      margin: 150px 0;
      filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.361));
      transition: 0.3s ease;
      cursor: pointer;
      width: 75%;
      max-width: 350px;

      @media screen and (max-width: 550px) {
        margin: 100px 0;
      }
    }
  }

  .corporation-container-left {
    background: url(../../assets/img/bg_civilian1.jpg) left/cover;

    .civilian-container {
      height: 80%;
      background: $gradYellow;
      margin: 100px;
      border-radius: 10px;
      backdrop-filter: blur(3px);

      @media screen and (max-width: 550px) {
        margin: 20px;
        height: 90%;
      }

      h2 {
        background: linear-gradient(
          15deg,
          $yellow1 0%,
          $yellow2 25%,
          $yellow3 50%,
          $yellow1 75%,
          $yellow2 100%
        );
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        filter: drop-shadow(0 2px 1px $yellow1);
      }

      img {
        &:hover {
          transform: translateY(-5px);
          filter: drop-shadow(0 1px 10px $yellow1);
        }
      }
    }
  }
  .corporation-container-right {
    background: url(../../assets/img/bg_mili-section1.png) center/cover;

    .military-container {
      height: 80%;
      margin: 100px;
      background: $gradGrey;
      border-radius: 10px;
      backdrop-filter: blur(3px);

      @media screen and (max-width: 550px) {
        margin: 20px;
        height: 90%;
      }

      h2 {
        background: linear-gradient(
          15deg,
          $grey1 0%,
          $grey2 25%,
          $grey3 50%,
          $grey2 75%,
          $grey1 100%
        );
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        filter: drop-shadow(0 2px 1px $blue3);
      }

      img {
        &:hover {
          transform: translateY(-5px);
          filter: drop-shadow(0 1px 10px $blue3);
        }
      }
    }
  }

  .button-container {
    position: absolute;
    bottom: 5%;
    left: 50%;
    height: 80px;
    width: 80px;
    transform: translateX(-50%);
    color: $yellow1;
    font-size: 1.8rem;
    @include flex("", center, center);
    border: 3px solid $yellow1;
    border-radius: 50px;
    transition: 0.3s ease;
    cursor: pointer;

    .button {
      transform: translateY(5%);
    }

    a {
      height: 80px;
      width: 80px;
      color: $yellow1;
    }

    &:hover {
      background: $yellow1;
      color: $black1;
      border: 3px solid $white2;
      box-shadow: 0 0 10px $yellow1;

      a {
        color: $white1;
      }
    }
  }
}
