.section2 {
  position: relative;
  padding-top: 50px;
  padding-bottom: 200px;
  background: $black2;
  @include grid(stretch, center);
  @include rowColumn(100%, 50% 50%);
  text-align: left;
  color: $white1;

  @media screen and (max-width: 550px) {
    @include grid(center, center);
    @include rowColumn(530px, 1fr 1fr);

    .polygon-shadow {
      display: none;
    }
  }

  h2 {
    margin-top: 50px;
    padding-bottom: 30px;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 5px;

    @media screen and (max-width: 550px) {
      text-align: center;
    }

    &:nth-child(2) {
      margin-top: 50px;
    }
  }

  h3 {
    text-transform: uppercase;
    text-align: left;
    font-size: 1rem;
    color: $white1;
    letter-spacing: 2px;

    @media screen and (max-width: 550px) {
      text-align: center;
      font-size: 2rem;
    }
  }

  p {
    padding: 0 50px;
    letter-spacing: 1px;
    font-weight: 100;
    line-height: 35px;
    text-align: justify;
  }

  .departments {
    position: relative;
    width: 90%;
    margin: 0 auto;
  }

  .civilian-departments {
    height: 180vh;
    background: $black1;
    border-top: 10px solid $yellow1;
    border-radius: 10px;
    padding: 50px 50px;
    @include grid(center, center);
    @include rowColumn(100%, repeat(7, 14.3%));

    @media screen and (max-width: 550px) {
      height: 100%;
      width: 90%;
      margin: 0 auto;
      padding: 50px 0;
    }

    .departments-containers {
      @include grid(stretch, center);
      @include rowColumn(10% 15% 18% 57%, 1fr);
      padding: 20px 0;
      border-bottom: 1px solid $grey1;
      width: 95%;

      @media screen and (max-width: 550px) {
        @include grid(center, center);
        @include rowColumn(1fr, 15% 1fr 1fr);
        margin: 0 auto;
        height: 700px;
      }

      .img-container {
        @include grid(center, center);
        padding: 5px;
      }

      img {
        height: 190px;
        filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.297));
        transition: 0.3s ease;

        @media screen and (max-width: 550px) {
          margin: 0 auto;
          margin: 20px 0;
        }
      }

      p {
        transition: 0.3s ease;

        @media screen and (max-width: 550px) {
          width: 90%;
          padding: 20px 0;
        }
      }

      &:hover {
        h3 {
          text-shadow: 0 2px 2px rgba(0, 0, 0, 0.838);
        }
        p {
          text-shadow: 0 2px 2px rgba(0, 0, 0, 0.838);
        }
      }
    }
  }

  .academy {
    @include departments(#7700ff, #d2abff, #a658ff);
  }

  .exploration {
    @include departments(#006eff, #a5ccff, #2081ff);
  }

  .diplomacy {
    @include departments(#00e1ff, #98f3ff, #39e8ff);
  }

  .trading {
    @include departments(#007f15, #9fffaf, #09d42b);
  }

  .culture {
    @include departments(#ffe400, #fff38a, #ffe400);
  }

  .industry {
    @include departments(#ee7300, #ffdeaf, #ff7b00);
  }

  .sciences {
    @include departments(#b90000, #fcfcfc, #ff3434);
  }

  .military-departments {
    height: 180vh;
    background: $black1;
    border-top: 10px solid $blue3;
    border-radius: 10px;
    padding: 50px 50px;
    margin-bottom: 150px;
    @include grid(center, center);
    @include rowColumn(100%, repeat(7, 14.3%));

    @media screen and (max-width: 550px) {
      height: 100%;
      width: 90%;
      margin: 0 auto;
      padding: 50px 0;
    }

    .departments-containers {
      @include grid(stretch, center);
      @include rowColumn(10% 15% 18% 57%, 1fr);
      padding: 20px 0;
      border-bottom: 1px solid $grey1;
      width: 95%;

      @media screen and (max-width: 550px) {
        @include grid(center, center);
        @include rowColumn(1fr, 15% 1fr 1fr);
        margin: 0 auto;
        padding: 20px 0;
        height: 700px;
      }

      .img-container {
        @include grid(center, center);
        padding: 5px;
      }
      img {
        height: 190px;
        filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.297));
        transition: 0.3s ease;

        @media screen and (max-width: 550px) {
          margin: 0 auto;
          margin: 20px 0;
        }
      }

      p {
        transition: 0.3s ease;

        @media screen and (max-width: 550px) {
          width: 90%;
          padding: 20px 0;
        }
      }

      &:hover {
        h3 {
          text-shadow: 0 2px 2px rgba(0, 0, 0, 0.838);
        }
        p {
          text-shadow: 0 2px 2px rgba(0, 0, 0, 0.838);
        }
      }
    }

    .aerospatial {
      @include departments(#000679, #bbbdfc, #6267f5);
    }

    .instruction {
      @include departments(#48316d, #c5a1ff, #a871ff);
    }

    .infantry {
      @include departments(#026400, #aaffa9, #0c990a);
    }

    .logistic {
      @include departments(#c57d00, #ffd285, #f79c00);
    }

    .medicine {
      @include departments(#990000, #ff8989, #f32d2d);
    }

    .science_mili {
      @include departments(#0097de, #90dcff, #19b6ff);
    }

    .black-ops {
      @include departments(#1d0000, #404040, #900000);
    }
  }

  .button-container {
    position: absolute;
    bottom: 50px;
    left: 50%;
    height: 80px;
    width: 80px;
    transform: translateX(-50%);
    color: $yellow1;
    font-size: 1.8rem;
    @include flex("", center, center);
    border: 3px solid $yellow1;
    border-radius: 50px;
    transition: 0.3s ease;
    cursor: pointer;

    .button {
      transform: translateY(5%);
    }

    a {
      height: 80px;
      width: 80px;
      color: $yellow1;
    }

    &:hover {
      background: $yellow1;
      color: $black1;
      border: 3px solid $white2;
      box-shadow: 0 0 10px $yellow1;

      a {
        color: $white1;
      }
    }
  }
}
